services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    env_file:
      .env
    ports:
      - "443:443"
    networks:
      - inception
    restart: always

networks:
  inception:
    driver: bridge
